body{
	margin:0;
	z-index: 1;
	color:white;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	height: 12vh;
	background-color: #00a087;
}/*nav + section MUST = 100*/

.my-name{
	color:white;
	position:absolute;
	display:inline-block;
	line-height:12vh;
	font-size:7vh;
	font-family: 'Orbitron', sans-serif;
	padding-left: .25vw;
	vertical-align: middle;
	max-width:100%;
	overflow-x:hidden;
	overflow-y:hidden;
	overflow:hidden;
}

#section-container{
	position:absolute;
	height:88%;
	width:100%;
	bottom:0em;
	z-index:10;
}

nav > a{
	display:inline;
	position: relative;
	float: right;
	padding:1vw;
	margin-right: 2vw;
	top:50%;
	transform: translateY(-50%);
	height:7vh;
	width:7vh;
}
@media (max-width:600px){
	.email{
		display:none;
	}
}
@media (max-width:480px){
	.linkedin{
		display:none;
	}
}
@media (max-width:400px){
	.github{
		display:none;
	}
}

/*
a.my-name{
	float:left;
	height:7vh;
	width:40vw;
}*/

section{
	background-color: black;
	height:100%;
}

ul.nav{
	position: relative;
	width:14vw;
	bottom:8vw;
	list-style: none;
	background-color: #232323;
	padding: 1vw 1vw 1vw 1vw;
	margin:auto;
	border-radius: 10px;
	opacity: .9;
}
ul.nav li{
	display:inline-block;
	margin-left:1vw;
}

ul.nav span{
	height:3vw;
	width:3vw;
	display:inline-block;
	border: .25vw solid black;
	border-radius: .6vw;
	background-color: yellow;
	cursor: pointer;
	opacity: 1;
}
ul.nav li.active span{
	background-color:green;
}

div.explain{
	position: relative;
	top:30%;
	bottom:70%;
	width:58%;
	margin:auto;
	color:white;
	font-size: 1.5em;
	text-align: center;
}
span.explain{
	position:absolute;
	left:8vw;
	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
	z-index: 2;
}

