doctype html
html(lang="en")
  head
    title Jabez Wesly
    link(rel='stylesheet',type='text/css',href='styles.css')
    link(href='http://fonts.googleapis.com/css?family=Orbitron:500',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Alfa+Slab+One' rel='stylesheet' type='text/css')
  body
    //I need a navbar
    nav.fixed-bar
      span.my-name Jabez Wesly
      a(href='https://github.com/jwesly',target="_blank"): img(src='github.svg')
      a(href='https://www.linkedin.com/pub/jabez-wesly/a0/181/b25',target="_blank"): img(src='linkedin2.png')
      //a(href='http://images.google.com'): img(src='camera.gif')
    div.section-container
      section
        div.section_title Who Am I?
      section
        div.section_title What Do I Do?
      section
        div.section_title What Have I Done?
      ul.nav
      script(src="jquery-1.11.0.js")
      script(src="nav.js")
    //Footer with contact info and links to Github, LinkedIn, etc