body{
	margin:0;
	z-index: 1;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	height: 12%;
	background-color: #00a087;
}/*top of section container MUST equal height of nav*/
.section-container{
	position:absolute;
	height:88%;
	width:100%;
	bottom:0em;
}

nav span,nav img{
	display:inline;
	position:absolute;
	top:50%;
	transform: translateY(-50%);
}
nav img{
	position: relative;
	float: right;
	padding-right: 2em;
}
.my-name{
	font-size:7vh;/* 7% of height*/
	font-family: 'Orbitron', sans-serif;
	padding-left: 1em;
	color:white;
	vertical-align: middle;
}



section{
	background-color: black;
	height:100%;
}
section div.section_title{
	font-family: 'Alfa Slab One', cursive;
	font-size:2em;
	text-align:center;
	width:50%;
	margin:auto;
	color:orange;
}

ul.nav{
	position: absolute;
	top:50%;
	transform:translateY(-50%);
	right: 2em;
	list-style: none;
	background-color: #232323;
	padding: 1em;
}
ul.nav li{
	padding-top:.5em;
	padding-bottom: .5em;
}
ul.nav img{
	border-radius:7px;
	background-color: white;
}

ul.nav span{
	height:2em;
	width:2em;
	display:block;
	border: 3px solid black;
	border-radius: 7px;
	background-color: orange;
	cursor: pointer;
}
ul.nav li.active span{
	background-color:green;
}

div.explain{
	position: relative;
	top:30%;
	bottom:70%;
	width:58%;
	margin:auto;
	color:white;
	font-size: 1.5em;
	text-align: center;
}
span.explain{
	position:absolute;
	left:8vw;

	font-family: 'Open Sans', sans-serif;
	font-size: 2em;
}

