doctype html
html(lang="en")
  head
    title Jabez Wesly
    link(rel='stylesheet',type='text/css',href='css/styles.css')
    link(href='http://fonts.googleapis.com/css?family=Orbitron:500',rel='stylesheet',type='text/css')
    link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
  body
    nav.fixed-bar
      span.my-name Jabez Wesly: WIP
      a(href='https://github.com/jwesly',target="_blank",title="Star Me on Github")
        img(src="img/github.svg")
      a(href='https://www.linkedin.com/pub/jabez-wesly/a0/181/b25',target="_blank",title="Connect with Me  on LinkedIn")
        img(src="img/linkedin.svg")
      a(href="mailto:wjabezkingsly@gmail.com",target="_blank",title="Email Me")
        img(src="img/email.svg")
    div.section-container
      section#0
        div.explain
          span.explain
            span.static
            span.dynamic
      section#1
        div.explain
          span.explain
            span.static
            span.dynamic
      section#2
        div.explain
          span.explain
            span.static
            span.dynamic
      ul.nav
      script(src="js/jquery-1.11.0.js")
      script(src="js/dots.js")
      script(src="js/nav.js")