html{
	background-color:black;
}

#exTitle{
	color:gold;
	text-align:center;
	background:#151515;
	width:30%;
	margin-right: auto;
	margin-left:auto;
	font-family: Impact, Charcoal, sans-serif;
	padding-bottom:7px; padding-top: 7px;
	opacity:.7;
	border: 10px groove gray;
}
#exInfo{
	width:45%;
	margin-right: auto;
	margin-left:auto;
	background:black;
	color:white;
	font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
	font-size:1.5em;
	padding:20px;
	opacity:.9;
	border:5px solid white;
}
#toggleInfo{
	position:absolute;
	bottom:7px;
	width:60px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
#left{
	height:50%;
	margin:auto;
	position:absolute;
	left:20px; right:auto; top:0; bottom:0;

}
#right{
	height: 50%;
	margin:auto;
	position:absolute;
	right:20px; left:auto; top:0; bottom:0;
}